<div class="social">
    <ul class="social__list">
        <li class="social__item">
            <a class="social__link" href="#">
                <i class="icon-instagram-2"></i>
            </a>
        </li>

        <li class="social__item">
            <a class="social__link" href="#">
                <i class="icon-twitter-2"></i>
            </a>
        </li>

        <li class="social__item">
            <a class="social__link" href="#">
                <i class="icon-facebook-f-2"></i>
            </a>
        </li>

        <li class="social__item">
            <a class="social__link" href="#">
                <i class="icon-pinterest-p"></i>
            </a>
        </li>

        <li class="social__item">
            <a class="social__link" href="#">
                <i class="icon-youtube"></i>
            </a>
        </li>
    </ul>
</div>