.best-rooms {
    &__list {
        display: grid;
        grid-template-columns: 2.11fr 1fr 1fr;
        gap: 3rem;
        margin: 0;
        padding: 0;

        @include breakpoint($tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint($mobile) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        &:first-child {
            grid-row: 1 / 3;

            @include breakpoint($mobile) {
                grid-row: auto;
            }
        }
    }
}
