.filters {
    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        border-bottom: .2rem solid #f9f9f9;

        &:first-child {
            border-top: .2rem solid #f9f9f9;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}