.footer-menu {

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .8rem 4.2rem;
        margin: 0;
        padding: 0;
    }

    &__item {
        line-height: 1;
    }

    &__link {
        display: inline-block;
        font-family: $font-gilda;
        font-size: 1.25rem;
        letter-spacing: .048rem;
        text-transform: capitalize;
        color: $color-white;
        padding: .6rem 0;
        transition: opacity .15s;

        &:hover,
        &:focus {
            opacity: .75;
        }
    }
}
