<div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu__inner" id="mobile-menu__inner">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="./index.html">Home</a>
            </li>

            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="./rooms.html">Rooms</a>
            </li>

            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="./room.html">Single Room</a>
            </li>

            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="./booking.html">Booking</a>
            </li>

            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="./blog.html">Our News</a>
            </li>

            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="./contact.html">Contact</a>
            </li>
        </ul>
    </div>
</div>