.label {
    display: block;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: .084rem;
    color: $color-gray;
    user-select: none;
    margin-bottom: 1.2rem;

    &_filter {
        width: 100%;
        margin: 0;
        text-transform: capitalize;
        padding-left: 1.5rem;
        cursor: pointer;
    }
}