.logo {
    display: flex;
    align-items: center;

    &__link {
        display: inline-block;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        padding: 1.9rem 0;
    }

    &__title {
        font-size: 1.95rem;
        letter-spacing: .352rem;
        margin-bottom: .3rem;
    }

    &__subtitle {
        font-size: .75rem;
        letter-spacing: .56rem;
    }
}
